[Unit]
Description=Btrfs rebalance on /%P volume
StopWhenUnneeded=true
DefaultDependencies=false
Requires=local-fs.target
After=local-fs.target
Before=shutdown.target
Before=sysinit.target
Conflicts=shutdown.target
RequiresMountsFor=/media/%i
ConditionFileIsExecutable=/bin/btrfs-balance-raid
ConditionFileIsExecutable=/bin/btrfs-check

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/tmp
Environment=LABEL=%i
EnvironmentFile=-/etc/default/%i
Environment=MOUNTPOINT=/media/%i
ExecStart=/bin/sh -c '/bin/btrfs-check -m "${MOUNTPOINT}" || /bin/btrfs-balance-raid "${LABEL}" "${MOUNTPOINT}"'
StandardOutput=journal

[Install]
WantedBy=multi-user.target

