[Unit]
Description=Data btrfs volume (raid) management
DefaultDependencies=no
Before=confinit.target
ConditionKernelCommandLine=!btrs-raid-ignore

[Install]
WantedBy=local-fs-pre.target

