[Unit]
Description=Format /%p volume on /%I device
StopWhenUnneeded=true
DefaultDependencies=false
ConditionFileIsExecutable=/bin/btrfs-manage-raid
After=%i.device
Requisite=%i.device
BindsTo=%i.device
Before=btrfs-rebalance@%p.service
# On purpose, to force a reboot by the user if the device was introduced 
# when system was up and running
Before=local-fs.target sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
WorkingDirectory=/tmp
Environment=LABEL=%p
EnvironmentFile=-/etc/default/%p
Environment=MOUNTPOINT=/media/%p
Environment=DEVICE=/%I
ExecStart=/bin/btrfs-manage-raid --force "${LABEL}" "${MOUNTPOINT}" "${DEVICE}" $SUBVOLS
StandardOutput=journal

[Install]
WantedBy=%i.device btrfs-raid.target

