[Unit]
Description=Data btrfs volume /%p on /%I device
StopWhenUnneeded=yes
DefaultDependencies=no
ConditionFileIsExecutable=/bin/btrfs-manage-raid
# Skip this unit if the user wants the device for
# a different purpose
ConditionKernelCommandLine=!btrs-raid-data-ignore=/%I
#JobTimeoutSec=15
After=%i.device
BindsTo=%i.device
Before=%p.mount btrfs-rebalance@%p.service sysinit.target docker.socket
# On purpose, to force a reboot by the user if the device was introduced 
# when system was up and running

[Service]
Type=oneshot
User=root
RemainAfterExit=no
WorkingDirectory=/tmp
Environment=LABEL=%p
EnvironmentFile=-/etc/default/%p
Environment=MOUNTPOINT=/media/%p
Environment=DEVICE=/%I
ExecStart=/bin/btrfs-manage-raid --force "${LABEL}" "${MOUNTPOINT}" "${DEVICE}" $SUBVOLS
#StandardOutput=journal
StandardOutput=file:/var/log/%N.log

[Install]
WantedBy=%i.device btrfs-raid.target

